<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel='stylesheet' href='/assets/styles/main.min.css')
  body
    .wrapper
      header.header
        .logo
          span.logo-text Лого
          a.header__burger
            .header__burger-bar.top
            .header__burger-bar.middle
            .header__burger-bar.bottom
        .search
          .search__icon
            svg.search__img
              use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#lens")
          .search-bar
            input.search-bar__input(type="search" placeholder="Поиск") 
          .search-select
            select.search-select__menu(name='search' size='1')
              option(selected value="name") по названию
              option(value="date") по дате
        .profile
          .profile__picture
            img.profile__image(src='assets/images/profile.jpg')
          .profile__info
            span.profile__name Иванов Иван
            span.profile__occup должность
          .profile__logout
            svg.logout__img
              use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logout")
      div.content
        aside.sidebar
          .sidebar__wrap
            ul.sidebar__menu
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#home")
                a.sidebar__link Главная
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#lens")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#puzzle")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img.sidebar__img-paper
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#paper")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#download")
                a.sidebar__link Пункт меню в 2 строчки
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#buble")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#hash")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#book")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#window")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#person")
                a.sidebar__link Пункт меню
              li.sidebar__item
                .sidebar__picture
                  svg.sidebar__img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#pen")
                a.sidebar__link Пункт меню
        main.container
          .breadcrumbs
            a.breadcrumbs__link.breadcrubms__main(href="") Главная
            a.breadcrumbs__link.breadcrubms__this(href="") Поиск
          .results
            .results-formal
              .results__header
                .results__search-icon.results__search-icon-formal
                  svg.results__img-icon
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#lens")
                .results__info
                  h2.results__heading По формам сбора
                  .hide-button
                    svg.hide__img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#minus")
              .results-formal__controls
                .results__search
                  input.results__searchbar(type="search" placeholder="Форма поиска") 
                  .results__search-icon.results__search-icon-controls
                    svg.results__search-img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#lens")
                    .dropdown-arrow
                      svg.arrow__icon
                        use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow")
                .results__button
                  select.results-select__menu(name='results' size='1')
                    option(selected value="report") Сформировать отчет
                    option(value="balance") Посмотреть баланс
                  .dropdown-arrow.dropdown-arrow__results
                    svg.arrow__icon
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow")
              ul.datasets
                li.dataset
                  .dataset-info
                    input(type="checkbox" id="check1" class="css-checkbox")
                    label.css-label(for='check1')
                    .dataset__icon
                      svg.dataset__icon-img
                        use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#folder")
                    span.dataset__heading Открытые данные
                    .collapse-expand-icon
                  ul.dataset__list
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id="check2" class="css-checkbox")
                        label.css-label(for='check2')
                        a.dataset__chapter(href="") Глава 1.
                        span.dataset__name Сведения
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id="check3" class="css-checkbox")
                        label.css-label(for='check3')
                        a.dataset__chapter(href="") Глава 2.
                        span.dataset__name Сведения длинное название
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id="check4" class="css-checkbox")
                        label.css-label(for='check4')
                        a.dataset__chapter(href="") Глава 3.
                        span.dataset__name Сведения длинное название
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check5' class="css-checkbox")
                        label.css-label(for='check5')
                        a.dataset__chapter(href="") Глава 4.
                        span.dataset__name Сведения длинное название
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check6' class="css-checkbox")
                        label.css-label(for='check6')
                        a.dataset__chapter(href="") Глава 5.
                        span.dataset__name Сведения очень длинное название уместилось в 3 строки
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id="check7" class="css-checkbox")
                        label.css-label(for='check7')
                        a.dataset__chapter(href="") Глава 6.
                        span.dataset__name Сведения очень длинное название уместилось в 3 строки
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check8' class="css-checkbox")
                        label.css-label(for="check1")
                        a.dataset__chapter(href="") Глава 7.
                        span.dataset__name Сведения очень длинное название уместилось в 3 строки
                li.dataset
                  .dataset-info
                    input(type="checkbox" id='check9' class="css-checkbox")
                    label.css-label(for='check9')
                    img.dataset__icon
                    span.dataset__heading Данные 2
                    .collapse-expand-icon
                  ul.dataset__list
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check10' class="css-checkbox")
                        label.css-label(for='check10')
                        a.dataset__chapter(href="") Глава 1.
                        span.dataset__name Сведения
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check11' class="css-checkbox")
                        label.css-label(for='check11')
                        a.dataset__chapter(href="") Глава 2.
                        span.dataset__name Сведения длинное название
                li.dataset
                  .dataset-info
                    input(type="checkbox" id='check12' class="css-checkbox")
                    label.css-label(for='check12')
                    img.dataset__icon
                    span.dataset__heading Данные 3
                    .collapse-expand-icon
                  ul.dataset__list
                    li.dataset__item
                      .dataset__item-info
                        input(type="checkbox" id='check13' class="css-checkbox")
                        label.css-label(for='check13')
                        a.dataset__chapter(href="") Глава 1.
                        span.dataset__name Сведения
                    li.dataset__item.dataset__item-last
                      .dataset__item-info
                        input(type="checkbox" id="check14" class="css-checkbox")
                        label.css-label(for='check14')
                        a.dataset__chapter(href="") Глава 2.
                        span.dataset__name Сведения длинное название
            .results-special
              .results__header
                .results__search-icon
                  svg.results__img-icon
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#lens")
                .results__info
                  h2.results__heading Специализированные
                  .hide-button
                    svg.hide__img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#minus")
              .results-special__filter
                span.filter__name
                .filter__dropdown
                  .dropdown
              table.table
                thead.table__head
                  tr.table__row
                    th.table-head__cell Наименование отчета
                    th.table-head__cell Описание
                    th.table-head__cell Подробности
                tbody
                  tr.table__row
                    td.table-body__cell Незагружаемые
                    td.table-body__cell Процедура текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                    td.table-body__cell  
                      img.info-icon(src="", alt="")
                      img.play-icon(src="", alt="")
                  tr.table__row
                    td.table-body__cell Незагружаемые
                    td.table-body__cell Процедура текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                    td.table-body__cell  
                      img.info-icon(src="", alt="")
                      img.play-icon(src="", alt="")
                  tr.table__row
                    td.table-body__cell Незагружаемые
                    td.table-body__cell Процедура текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                    td.table-body__cell  
                      img.info-icon(src="", alt="")
                      img.play-icon(src="", alt="")
                
              
                
              
