.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.header {
    height: rem(70px);
    width: 100%;
    display: flex;
    @include tablets {
        height: rem(55px);
    }
}

.logo {
    width: rem(190px);
    min-width: rem(190px);
    background-color: $darkblue;
    display: flex;
    align-items: center;
    @include tablets {
        width: rem(55px);
        min-width: initial;
        justify-content: center;
    }
}

.logo-text {
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    font-size: rem(20px);
    margin-left: rem(23px);
    margin-right: rem(80px);
    @include tablets {
        display: none;
    }
}

.logo-text__search {
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
    @include tablets {
        display: flex;
    }
}

.logo-text__search-text {
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    font-size: rem(20px);
    display: none;
    @include tablets {
        display: flex;
    }
}

.header__burger {
    cursor: pointer;
}

.header__burger-bar {
    background: #fff;
    width: rem(15px);
    height: rem(2px);
    border-radius: rem(3px);
    margin-bottom: rem(4px);
    &:last-child {
        margin-bottom: 0;
    }
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #edeef2;
    @include tablets {
        border-right: none;
        background-color: #0f5091;
    }
}

.profile {
    width: rem(260px);
    @include tablets {
        width: rem(55px);
        background-color: #0f5091;
    }
}

.sidebar {
    width: rem(190px);
    min-width: rem(190px);
    background-color: $blue;
    color: white;
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    @include netbooks {
        display: none;
    }
}

.sidebar__item {
    display: flex;
    align-items: center;
    position: relative;
    /* padding-top: rem(20px);
    padding-bottom: rem(20px); */
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    &:hover>.hover-border {
        display: block;
    }
}

.hover-border {
    display: none;
    width: 3px;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: white;
}

.sidebar__picture {
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    margin-left: rem(23px);
    margin-right: rem(13px);
}

.sidebar__img {
    width: 100%;
    height: 100%;
    fill: white;
}

.sidebar__img-paper {
    width: 300%;
    height: 300%;
    margin-left: -19px;
    margin-top: -14px;
}

.sidebar__link {
    font-size: rem(11px);
    display: inline-block;
    cursor: pointer;
    padding-top: rem(20px);
    padding-bottom: rem(20px);
}

.search__icon {
    margin-left: rem(40px);
    margin-right: rem(13px);
    @include tablets {
        display: none;
    }
}

.search__img {
    width: rem(14px);
    height: rem(14px);
    fill: #006edd;
    @include tablets {
        display: none;
    }
}

.search-bar {
    flex-grow: 1;
    @include tablets {
        display: none;
    }
}

.search-bar__input {
    width: 100%;
    border: none;
    outline: none;
    color: #96989a;
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
}

.search-select {
    margin-right: rem(20px);
    @include tablets {
        display: none;
    }
}

.search-select__menu {
    background-color: #f9fbfd;
    padding: 5px 13px 5px 13px;
    outline: none;
    border: 2px solid #edeef2;
    border-radius: 15px;
    color: #96989a;
}

.profile {
    display: flex;
    align-items: center;
    @include phones {
        display: none;
    }
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(11px);
    @include tablets {
        display: none;
    }
}

.profile__name {
    font-size: rem(15px);
    font-family: 'Ubuntu Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.profile__occup {
    font-size: rem(13px);
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    color: #96989a;
}

.profile__logout {
    display: flex;
    align-items: center;
    padding-right: rem(10px);
    @include tablets {
        display: none;
    }
}

.logout__img {
    width: rem(20px);
    height: rem(20px);
    fill: #006edd;
}

.profile__picture {
    width: rem(45px);
    height: rem(45px);
    border: 4px solid #edeef2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.profile__picture-main {
    margin-left: rem(17px);
    @include phones {
        display: none;
        border: 4px solid #edeef2;
    }
}

.profile__picture-search {
    display: none;
    @include phones {
        display: flex;
        border: 4px solid #27629c;
        margin-right: rem(27px);
        width: rem(50px);
        height: rem(45px);
    }
}

.profile__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile__logout {
    margin-left: rem(40px);
}

.container {
    background-color: #d3e1f0;
    width: 100%;
}

.breadcrumbs {
    margin-left: rem(40px);
    margin-top: rem(30px);
    margin-bottom: rem(23px);
}

.breadcrumbs__link {
    text-decoration: none;
    color: #81868b;
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    &:visited {
        text-decoration: none;
    }
    &:after {
        content: ' / ';
    }
    &:last-child {
        &:after {
            content: none;
        }
    }
}

.results {
    margin-right: rem(40px);
    margin-left: rem(40px);
    background-color: white;
    border-radius: 3px;
    margin-bottom: rem(34px);
}

.results__header {
    height: rem(50px);
    display: flex;
}

.results__search-icon {
    background-color: #167ade;
    width: rem(50px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results__search-icon-formal {
    border-radius: 3px 0 0 0;
}

.results__img-icon {
    fill: white;
    width: rem(16px);
    height: rem(16px);
}

.results__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.results__heading {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: rem(17px);
    font-size: rem(14px);
    text-transform: uppercase;
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    @include phones {
        font-size: rem(13px);
    }
}

.hide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(18px);
    height: rem(18px);
    margin-right: rem(24px);
}

.hide__img {
    width: rem(18px);
    height: rem(18px);
    fill: #b6b6b6;
    align-self: center;
}

.results-formal__controls {
    display: flex;
    height: rem(50px);
}

.results__search {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: rem(12px);
    margin-left: rem(24px);
    position: relative;
}

.dropdown-arrow {
    display: flex;
    align-items: center;
}

.arrow__icon {
    width: rem(8px);
    height: rem(5px);
    fill: #006edd;
}

.results__search-icon-controls {
    background: none;
    position: absolute;
    right: 0;
}

.results__search-img {
    fill: #006edd;
    width: rem(16px);
    height: rem(16px);
    margin-right: rem(8px);
}

.results__searchbar {
    height: rem(32px);
    flex-grow: 1;
    background-color: #f9fbfd;
    border: 2px solid #edeef2;
    border-radius: 3px;
    padding-left: rem(10px);
    color: #70a2e7;
    outline: none;
    &::-webkit-input-placeholder {
        color: #70a2e7;
    }
    &::-moz-placeholder {
        color: #70a2e7;
    }
    &:-ms-input-placeholder {
        color: #70a2e7;
    }
    &:-moz-placeholder {
        color: #70a2e7;
    }
}

.results__button {
    display: flex;
    align-items: center;
    width: rem(192px);
    position: relative;
    margin-right: rem(24px);
    @include phones {
        display: none;
    }
}

.results__button-filter {
    align-items: center;
    margin-right: rem(24px);
    display: none;
    @include phones {
        display: flex;
    }
}

.results__button-filter-icon {
    width: rem(14px);
    height: rem(14px);
    fill: #167ade;
}

.results-select__menu {
    width: 100%;
    height: rem(32px);
    padding-right: rem(15px);
    padding-left: rem(22px);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 2px solid #006edd;
    border-radius: 3px;
    font-family: 'Ubuntu Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #006edd;
    font-size: rem(11px);
    outline: none;
    background: transparent;
    z-index: 2;
    @include tablets {
        padding-left: rem(3px);
    }
}

.dropdown-arrow__results {
    position: absolute;
    right: rem(8px);
    @include tablets {
        right: rem(5px);
    }
}

.datasets {
    margin-bottom: rem(22px);
}

.dataset {
    border-top: 1px solid #ebf0f2;
    margin-left: rem(24px);
    margin-right: rem(24px);
}

.dataset-info {
    height: rem(40px);
    display: flex;
    align-items: center;
}

.dataset__icon {
    margin-left: rem(3px);
    margin-right: rem(3px);
    height: 100%;
    display: flex;
    align-items: center;
}

.dataset__icon-img {
    width: rem(18px);
    height: rem(16px);
    fill: #b2b2b2;
}

.dataset__item {
    //height: rem(40px);
    border-top: 1px solid #ebf0f2;
    display: flex;
    align-items: center;
}

.dataset__item-last {
    border-bottom: 1px solid #ebf0f2;
}

.dataset__item-info {
    padding-top: rem(9px);
    padding-bottom: rem(9px);
    margin-left: rem(27px);
}

.dataset__heading {
    height: rem(40px);
    display: flex;
    align-items: center;
    font-size: rem(13px);
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    color: #919191;
}

.dataset__chapter {
    font-size: rem(13px);
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    color: #72a4e7;
    text-decoration: none;
    &:visited {
        color: #72a4e7;
    }
}

.dataset__name {
    font-size: rem(13px);
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    color: #919191;
}

.dataset__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.collapse-expand-icon {
    display: flex;
    align-items: center;
}

.dataset__checkbox {
    width: rem(20px);
    height: rem(20px);
    border: 2px solid #ebf0f2;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -20px;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_561d7178d91f50ef04c3ec75d173816b.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.results-special__filter {
    display: flex;
    align-items: center;
    height: rem(50px);
    margin-left: rem(24px);
    margin-right: rem(24px);
    border-bottom: 1px solid #ebf0f2;
}

.filter__dropdown {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.results-special__dropdown {
    flex-grow: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 2px solid #edeef2;
    border-radius: 3px;
    padding: rem(7px);
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    font-size: rem(13px);
    //font-weight: bold;
    background: transparent;
    z-index: 2;
}

.filter__name {
    margin-right: rem(18px);
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    font-size: rem(13px);
    //font-weight: bold;
}

.results-special__arrow {
    position: absolute;
    right: 8px;
    align-self: center;
    align-items: center;
}

.table-main {
    width: 100%;
    margin-left: rem(24px);
    margin-right: rem(24px);
    border-collapse: collapse;
    @include phones {
        display: none;
    }
}

.table-mobile {
    display: none;
    border-collapse: collapse;
    margin-left: rem(24px);
    margin-right: rem(24px);
    @include phones {
        display: flex;
    }
}

.table__row {
    display: flex;
    border-bottom: 1px solid #ebf0f2;
}

.table-head__cell {
    font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
    font-size: rem(11px);
    font-weight: bold;
    text-align: left;
    padding-top: rem(25px);
    padding-bottom: rem(15px);
    //vertical-align: top;
    @include phones {
        padding-top: rem(15px);
    }
}

.table-body__cell {
    font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
    font-size: rem(13px);
    padding-top: rem(22px);
    padding-bottom: rem(26px);
    vertical-align: top;
}

.table-body__cell-mobile {
    padding-right: rem(5px);
    padding-left: rem(5px);
    font-weight: bold;
    flex-grow: 1;
}

.table-body__cell-text {
    padding-right: rem(26px);
    color: #919191;
    flex-grow: 1;
}

.table__cell-first {
    width: rem(232px);
    min-width: rem(232px);
    font-weight: bold;
    @include tablets {
        width: rem(140px);
        min-width: rem(140px);
    }
}

.table__cell-last {
    width: rem(72px);
    display: flex;
    justify-content: flex-end;
    margin-right: rem(45px);
    @include phones {
        width: initial;
        margin-right: 0;
    }
}

.table-body__cell.table__cell-middle {
    color: #919191;
}

.table__cell-middle {
    flex-grow: 1;
}

.info-icon {
    cursor: pointer;
}

.go-icon {
    cursor: pointer;
}

.info-icon__img {
    width: rem(18px);
    height: rem(18px);
    fill: #e2e7ec;
}

.go-icon__img {
    width: rem(18px);
    height: rem(18px);
    fill: #338aff;
    margin-left: rem(10px);
}

.results__container {
    overflow: hidden;
    transition: all 2s ease-in-out;
}

.results__container-passive {
    height: 0;
}