@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../webfonts/ubuntu-b-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('../webfonts/ubuntu-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../webfonts/ubuntu-medium-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../webfonts/ubuntu-regular-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}